.idea/
__pycache__/

cert.pem
key.pem
backend/src/top_secret_dangerous_keys.py

backend/databases/
backend/logs/
backend/public_static/
backend/src/test/

frontend/node_modules/
frontend/public/cache/
frontend/build/
