.coin {
    width: 120px;
}

.coin.spinning {
    animation: spinning linear 1s infinite;
}

@keyframes spinning {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

.bet-buttons {
    display: flex;
    margin: 10px;
}

.bet-buttons > div + div {
    margin-left: 10px;
}
