.coin {
    width: 100px;
}

.coin.spinning {
    animation: spinning linear 1s infinite;
}

@keyframes spinning {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
