header {
  background: rgb(23, 23, 41);
}

.header-container {
  display: flex !important;
  justify-content: space-between;
  padding: 10px 0px;
}

.header-child {
  display: flex;
  align-items: center;
}

/* 
.header-child > div {
  display: inline-flex;
  justify-content: space-between;
} */
