header {
  background: rgb(23, 23, 41);
}

.header-container {
  display: flex !important;
  justify-content: space-between;
  padding: 10px 0px;
}

.header-child {
  display: flex;
  align-items: center;
}

.dice {
  font-size: 2rem;
  animation: dice 1s ease-in forwards;
}

@keyframes dice {
  from,
  0% {
    transform: translateY(-40px) translateX(-100px) rotateZ(-360deg);
  } 25% {
    transform: translateY(0px) translateX(-50px) rotateZ(-160deg);
  } 50% {
    transform: translateY(-40px) translateX(-20px) rotateZ(-90deg);
  } 100% {
    transform: translateY(-5px) translateX(0px) rotateZ(0deg) rotateZ(0deg);
  }
}

/* 
.header-child > div {
  display: inline-flex;
  justify-content: space-between;
} */
