:root {
  --margin: 50px;

  --table-image-width: 645px;
  --table-image-height: 312px;

  --avatar-size: 50px;
  --avatar-size-half: calc(var(--avatar-size) / 2);
  --avatar-halfway-x: calc(
    var(--table-image-width) / 2 + var(--margin) - var(--avatar-size-half)
  );
  --avatar-halfway-y: calc(
    var(--table-image-height) / 2 + var(--margin) - var(--avatar-size-half)
  );

  --avatar-row-1: calc(var(--avatar-halfway-y) - 175px);
  --avatar-row-2: calc(var(--avatar-halfway-y) - 80px);
  --avatar-row-3: calc(var(--avatar-halfway-y) + 80px);
  --avatar-row-4: calc(var(--avatar-halfway-y) + 175px);
  --avatar-column-1: calc(var(--avatar-halfway-x) - 325px);
  --avatar-column-2: calc(var(--avatar-halfway-x) - 175px);
  --avatar-column-3: var(--avatar-halfway-x);
  --avatar-column-4: calc(var(--avatar-halfway-x) + 175px);
  --avatar-column-5: calc(var(--avatar-halfway-x) + 325px);

  --community-card-width: 50px;
  --community-card-height: 70px;
  --community-card-width-half: calc(var(--community-card-width) / 2);
  --community-card-height-half: calc(var(--community-card-height) / 2);
  --community-card-halfway-x: calc(
    var(--table-image-width) / 2 + var(--margin) -
      var(--community-card-width-half)
  );
  --community-card-halfway-y: calc(
    var(--table-image-height) / 2 + var(--margin) -
      var(--community-card-height-half)
  );

  --community-card-column-1: calc(
    var(--community-card-halfway-x) - 2 * var(--community-card-width) - 10px
  );
  --community-card-column-2: calc(
    var(--community-card-halfway-x) - var(--community-card-width) - 5px
  );
  --community-card-column-3: var(--community-card-halfway-x);
  --community-card-column-4: calc(
    var(--community-card-halfway-x) + var(--community-card-width) + 5px
  );
  --community-card-column-5: calc(
    var(--community-card-halfway-x) + 2 * var(--community-card-width) + 10px
  );

  --hole-card-width: 25px;
  --hole-card-height: 35px;
}

.table-image {
  margin: var(--margin);
  margin-bottom: calc(var(--margin) * 1.8);
}

.table-elements {
  position: relative;
}

.community-card {
  position: absolute;
  width: var(--community-card-width);
  height: var(--community-card-height);
}

.community-card-1 {
  left: var(--community-card-column-1);
  top: var(--community-card-halfway-y);
}

.community-card-2 {
  left: var(--community-card-column-2);
  top: var(--community-card-halfway-y);
}

.community-card-3 {
  left: var(--community-card-column-3);
  top: var(--community-card-halfway-y);
}

.community-card-4 {
  left: var(--community-card-column-4);
  top: var(--community-card-halfway-y);
}

.community-card-5 {
  left: var(--community-card-column-5);
  top: var(--community-card-halfway-y);
}

.dealer-button {
  position: absolute;
  width: 25px;
  bottom: calc(var(--avatar-size) - 25px * 0.75);
  left: calc(var(--avatar-size) - 25px * 0.75);
}

.user-avatar {
  cursor: pointer;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 20%;
  background-color: #b5ffb3;
}

.user-avatar:hover {
  opacity: 30%;
}

.player {
  width: var(--avatar-size);
  height: var(--avatar-size);
  position: absolute;
  border-radius: 20%;
}

.player-1 {
  left: var(--avatar-column-3);
  top: var(--avatar-row-1);
}

.player-2 {
  left: var(--avatar-column-4);
  top: var(--avatar-row-1);
}

.player-3 {
  left: var(--avatar-column-5);
  top: var(--avatar-row-2);
}

.player-4 {
  left: var(--avatar-column-5);
  top: var(--avatar-row-3);
}

.player-5 {
  left: var(--avatar-column-4);
  top: var(--avatar-row-4);
}

.player-6 {
  left: var(--avatar-column-3);
  top: var(--avatar-row-4);
}

.player-7 {
  left: var(--avatar-column-2);
  top: var(--avatar-row-4);
}

.player-8 {
  left: var(--avatar-column-1);
  top: var(--avatar-row-3);
}

.player-9 {
  left: var(--avatar-column-1);
  top: var(--avatar-row-2);
}

.player-10 {
  left: var(--avatar-column-2);
  top: var(--avatar-row-1);
}

.player-bet {
  position: absolute;
  width: var(--avatar-size);
  height: 13px;
}

.player-bet img {
  position: absolute;
  left: -7.5px;
  height: 15px;
}

.player-bet span {
  position: absolute;
  font-size: 13px;
  width: calc(var(--avatar-size));
  text-align: center;
}

.player-bet-1,
.player-bet-2,
.player-bet-10 {
  top: 100px;
}

.player-bet-3 {
  top: var(--avatar-size);
  right: 80px;
}

.player-bet-4 {
  bottom: var(--avatar-size);
  right: 80px;
}

.player-bet-5,
.player-bet-6,
.player-bet-7 {
  bottom: 100px;
}

.player-bet-8 {
  bottom: var(--avatar-size);
  left: 80px;
}

.player-bet-9 {
  top: var(--avatar-size);
  left: 80px;
}

.pot-text {
  position: absolute;
  top: calc(
    var(--table-image-height) / 2 + var(--margin) +
      var(--community-card-height-half) + 5px
  );
  width: 100%;
  color: white;
  font-size: 13px;
  text-align: center;
}

.username {
  cursor: pointer;
  position: absolute;
  overflow-wrap: anywhere;
  bottom: 0px;
  left: 0px;
  font-size: 13px;
  background-color: #333333;
}

.hole-cards {
  position: absolute;
  top: calc(var(--avatar-size) * 1.05);
}

.hole-cards img {
  width: var(--community-card-width-half);
  height: var(--community-card-height-half);
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera and Firefox */
}
