.log-in-form form {
    display: flex;
    flex-direction: column;
}

.log-in-form input {
    color: white;
    margin-bottom: 10px;
    background-color: rgb(7, 7, 33);
    border: 1px solid rgb(7, 7, 33);
    border: none;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.log-in-form input:focus {
    /* border: 1px solid white; */
    outline: none;
}

.account-list > div + div {
    margin-top: 10px;
}
