.log-in-form form {
    display: flex;
    flex-direction: column;
  }
  
.log-in-form input {
  color: white;
  margin-bottom: 10px;
  background-color: rgb(7, 7, 33);
  border: 1px solid rgb(7, 7, 33);
  border: none;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.log-in-form input:focus {
  /* border: 1px solid white; */
  outline: none;
}

.log-in-form,
.account-list {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.account-list-entry {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
