.message-minimize {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  right: -20px;
  top: -40px;
  z-index: 1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgb(23, 23, 41);
  border: solid 2px rgb(7, 7, 33);
  cursor: pointer;
  transition:
    top 0.15s cubic-bezier(0.165, 0.84, 0.44, 1),
    left 0.15s cubic-bezier(0.165, 0.84, 0.44, 1),
    width 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), 
    height 0.15s cubic-bezier(0.165, 0.84, 0.44, 1),
    border 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.message-minimize:hover {
  width: 50px;
  height: 50px;
  border: solid 5px #f50057;
}

.minimized {
  top: -60px;
  left: 0;
}

.notification {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f50057;
}

.messages-container {
  height: 200px;
  border-radius: 10px;
  background-color: rgb(23, 23, 41);
  word-break: break-all;
  overflow-y: scroll;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  z-index: 0;
}

.messages-container > div + div {
  border-top: 1px solid rgb(7, 7, 33);
}

.message-container {
  display: flex;
  justify-content: left;
  padding: 10px 0px;
  margin-left: 10px;
  background-color: rgb(40, 40, 66);
  border-radius: 5px;
  clip-path: circle(0 at left);
  animation: new-message 0.5s normal forwards;
}

@keyframes new-message {
  to {
    background: none;
    clip-path: circle(200% at left);
  }
}

.message-content {
  margin-left: 15px;
}

.message-author {
  font-weight: bold;
}

.message-text {
  font-weight: normal;
}

.message-input input {
  background-color: rgb(7, 7, 33);
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  text-indent: 0px;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 0 0 10px 10px;
  width: calc(100% - 30px);
}

@media (max-width: 540px) {
  .message-minimize {
    right: 10px;
  }
}
