:root {
    --margin: 50px;
    --table-image-height: 312px;
    --table-image-width: 645px;
    --avatar-size: 50px;

    --avatar-size-half: calc(var(--avatar-size) / 2);
    --halfway-x: calc(
        var(--table-image-width) / 2 + var(--margin) - var(--avatar-size-half)
    );
    --halfway-y: calc(
        var(--table-image-height) / 2 + var(--margin) - var(--avatar-size-half)
    );

    --row-1: calc(var(--halfway-y) - 175px); /* pct doesnt work? */
    --row-2: calc(var(--halfway-y) - 80px);
    --row-3: calc(var(--halfway-y) + 80px);
    --row-4: calc(var(--halfway-y) + 175px);

    --column-1: calc(var(--halfway-x) - 43.5%);
    --column-2: calc(var(--halfway-x) - 24%);
    --column-3: calc(var(--halfway-x));
    --column-4: calc(var(--halfway-x) + 24%);
    --column-5: calc(var(--halfway-x) + 43.5%);
}

.table img {
    margin: var(--margin);
}

.players {
    position: relative;
}

.player {
    position: absolute;
    background-color: white;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.player-1 {
    left: var(--column-3);
    top: var(--row-1);
}

.player-2 {
    left: var(--column-4);
    top: var(--row-1);
}

.player-3 {
    left: var(--column-5);
    top: var(--row-2);
}

.player-4 {
    left: var(--column-5);
    top: var(--row-3);
}

.player-5 {
    left: var(--column-4);
    top: var(--row-4);
}

.player-6 {
    left: var(--column-3);
    top: var(--row-4);
}

.player-7 {
    left: var(--column-2);
    top: var(--row-4);
}

.player-8 {
    left: var(--column-1);
    top: var(--row-3);
}

.player-9 {
    left: var(--column-1);
    top: var(--row-2);
}

.player-10 {
    left: var(--column-2);
    top: var(--row-1);
}
