.connection-status-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.message-box-container {
  position: fixed;
  width: 450px;
  bottom: 0;
  margin: 5px;
  z-index: 1;
}

@media (max-width: 540px) {
    .message-box-container {
        bottom: 0;
        width: 100%;
        margin: 0;
    }
}
