.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connection-status-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.message-box-container {
    position: absolute;
    width: 450px;
    left: 0;
    bottom: 0;
    margin: 5px;
    z-index: 1;
}

@media (max-width: 540px) {
    .message-box-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
    }
}
